<a href="https://colab.research.google.com/github/gauravsax1911/ML-LAB-SEM-V/blob/main/ML_LAB_EXP_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ML LAB EXPERIMENT NO : 1 

Submitted by : Gaurav Saxena 2K19/EC/059

# Q1 Write a program to add two numbers to illustrate the use of print statement

In [ ]:
a = 5
b = 6
sum = 6 + 5
print(sum)

11

In [ ]:
a = 5.545
B = 94.3432
sum = a + B
print(sum)

99.8882

## Q2 Write a program to illustrate the use of conditional statements by checking if the input number is odd or even

In [ ]:
num = int(input('Enter a number'))
if(num % 2) == 0:
   print("NUMBER IS EVEN")
else:
   print("NUMBER IS ODD")

Enter a number8
NUMBER IS EVEN

# Q3 Write a program to illustrate the use of functions

In [ ]:
def changeme(mylist):
  #This changes a passed list into the function
  mylist = [1,2,3,4] #This would assign a new reference to mylist
  print("values inside the function: " , mylist)
  return 

#Now we can call the changeme function
mylist = [10,20,30]
changeme(mylist)
print("values outside the function " , mylist)

values inside the function:  [1, 2, 3, 4]
values outside the function  [10, 20, 30]

## Q4 Write a program to access values in a dictionary

In [ ]:
dict = {'Name' : 'Gaurav' , 'Age':20 , 'Year' : 'B.tech 3rd year'}
print("Name" , dict['Name'])
print("Age" , dict['Age'])
print("Year of Study-->" , dict['Year'])

Name Gaurav
Age 20
Year of Study--> B.tech 3rd year

# Q5 Write a program to perform various string operations

In [ ]:
str1 = input("Enter string 1 :")
str2 = input("Enter string 2 : ")
# Taking the input of string 1 and 2
str3 = str1 + str2 #Concatenation of two strings

print(str3)

print(str3.lower())  #Print all the characters in lower case
print(str3.upper())  #Print all the characters in upper case 

print(type(str3))

fruit = "banana"
pos = fruit.find('na')   #Finds the position where "na" occurs

print(pos)

greet = "HELLO BOB"
str4 = greet.replace('BOB', 'JOHN')
print(str4)

Enter string 1 :HELLO
Enter string 2 : world
HELLO world
hello world
HELLO WORLD
<class 'str'>
2
HELLO JOHN